.contactsBlock {
    background-color: #ffb9d3;
    height: 100vh;
    padding: 50px 0;

}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0;
}

.title {
    background-color: #fdff99;
}

.contactForm {
    width: 280px;
    border: 1px solid #ff008a;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 5px;
}
textarea{
    min-height: 150px;
    padding: 5px;
}
.link {
    background-color: #fdff99;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.link:hover {
    background-color: #ff008a;
}
