@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';


.mainBlock {
  background-color: $backgroundColor;
  min-height: 650px;
  padding: 230px 0;
  font-family: $fontFamily;
  color: $textColor;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 980px;
    color: black;
    background-repeat: no-repeat;
  }

  .container {
    @include container();

    .greeting {
      width: 350px;
      font-size: 22px;
    }
  }

  .photoContainer {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    //background-image: url('https://cdn2.iconfinder.com/data/icons/peppyicons/512/women_yellow-512.png');
    background-size: cover;
    background-color: $textColor;
    background-position: center;

    .photoImg {
      background: url('../../src/assets/image/resumePhoto.jpeg') center no-repeat;
      background-size: cover;
      border-radius: 20px;
      width: 280px;
      height: 380px;
      position: absolute;
      top: 40px;
      left: -20px;
    }
  }
}




