@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.footer {
  font-family: $fontFamily;
  color: $textColor;
  background-color: $backgroundColor;

  .container {
    flex-direction: column;
    padding: 50px 0;
    @include container();

    .name {
      margin: 10px;
    }

    .socialBlock {
      display: flex;
      justify-content: space-between;
      width: 280px;
      //border: 1px solid #ff008a;
      margin-bottom: 10px;

      .socialItem {
        width: 60px;
        height: 60px;
        border-radius: 7px;
        background-color: $textColor;
        img {
          width: 45px;
          height: 45px;
          margin: 7.5px 0 0 7.5px;
        }
      }
    }
    .copyrightTitle {
    }
  }
}






