.footer {
    background-color: #fdff99;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0;
}
.name {
    margin: 10px;
    background-color: #ff008a;
}
.socialBlock {
    display: flex;
    justify-content: space-between;
    width: 280px;
    border: 1px solid #ff008a;
    margin-bottom: 10px;
}

.socialItem {
    width: 60px;
    height: 60px;
    background-color: #ffb9d3;
}

.copyrightTitle {
    background-color: #ff008a;
}