.projectBlock {
    min-height: 100vh;
    background-color: #fdff99;
    padding: 50px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
background-color: #ffb9d3;
}

.projects {
    border: 1px solid #ff008a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
